fastapi
uvicorn[standard]     # веб-сервер Uvicorn
httpie      # Текстовый веб-клиент HTTPie
requests
httpx       # Пакет синхронного/асинхронного веб-клиента HTTPX
sqlalchemy
alembic
psycopg2-binary
fastapi-users[sqlalchemy]
asyncpg     # Асинхронный драйвер для алхимии postgresql
